body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('images/bg2.png'); /* Update this path as needed */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}




#start-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: 4em;
    transform: rotate(-3deg);
    margin-bottom: 20px;
}

#start-button {
    font-size: 2em;
    padding: 10px 20px;
    cursor: pointer;
}
